
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/Authorize/Reset" class="form-horizontal" role="form">
    <h2>重置密码</h2>
    <hr />

    <div class="form-group">
        <label for="RegisterUserName" class="col-md-2 control-label">用户名</label>
        <div class="col-md-10">
            <input type="text" id="RegisterUserName" class="form-control" name="UserName" />
        </div>
    </div>
    <div class="form-group">
        <label for="RegisterPassword" class="col-md-2 control-label">密码</label>
        <div class="col-md-10">
            <input type="password" id="RegisterPassword" class="form-control" name="Password" />
        </div>
    </div>
    <div class="form-group">
        <label for="RegisterConfirmPassword" class="col-md-2 control-label">确认密码</label>
        <div class="col-md-10">
            <input type="password" id="RegisterConfirmPassword" class="form-control" name="ConfirmPassword" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">重置</button>
        </div>
    </div>
</form>



