@model IEnumerable<Volkswagen.Models.ArMaintainModels>

@{
    ViewBag.Title = "历史记录 - 设备维护";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string col, dir;
    if (ViewData["model"] == null)
    {
        col = "";
        dir = "";
    }
    else
    {
        col = (ViewData["model"] as GridSortOptions).Column;
        dir = ((ViewData["model"] as GridSortOptions).Direction == MvcContrib.Sorting.SortDirection.Ascending) ? "Asceding" : "Descending";
    }
}

<h3>历史记录 - 设备维护及状态跟踪</h3>

<script type="text/javascript">
    var row = 0;
    var fieldMap = new Array(
        "设备编号",
        "设备名称",
        "车间生产线",
        "维护类别",
        "维护部位",
        "维护内容",
        "维护开始时间",
        "维护完成时间",
        "责任班组",
        "检具状态",
        "检具详细的状态",
        "设备两行",
        "设备详细状况",
        "检查人类别",
        "检查人",
        "检查时间",
        "问题",
        "分数",
        "等级",
        "问题状态",
        "检查次数",
        "编号",
        "最后修改时间",
        "修改人",
        "创建时间",
        "创建人",
        "操作类型",
        "操作时间"
    );

    var opMap = new Array(
        "=",
        ">",
        "<",
        ">=",
        "<=",
        "<>",
        "包含"
        );

    var valueMap = new Array(
        "EquipmentID",
        "EquipDes",
        "Line",
        "MType",
        "MPart",
        "Content",
        "Period",
        "MStartTime",
        "MEndTime",
        "ResponseClass",
        "CheckStatus",
        "EquipDetail",
        "CheckerType",
        "Checker",
        "CheckTime",
        "Problem",
        "Mark",
        "Grade",
        "ProblemStatus",
        "CheckNum",
        "MaintainId",
        "ChangeTime",
        "Changer",
        "CreateTime",
        "Creator",
        "Operator",
        "OperateTime");

    function append_input() {

        var fm = document.getElementById("query_panel");
        var f = document.createElement("div");
        f.className = "form-group";


        var field = document.createElement("select");
        var op = document.createElement("select");
        var operand = document.createElement("input");

        f.name = "fgroup" + row;
        field.name = "field" + row;
        op.name = "op" + row;
        operand.name = "operand" + row;

        //operand.className = "form-control"

        for (var i = 0; i < fieldMap.length; i++) {
            var option = document.createElement("option");
            option.text = fieldMap[i];
            option.value = valueMap[i];
            field.add(option);
        }

        for (var i = 0; i < opMap.length; i++) {
            var ooption = document.createElement("option");
            ooption.text = opMap[i];
            ooption.value = i;
            op.add(ooption);
        }

        var cancel = document.createElement("button");
        cancel.type = "button";
        cancel.className = "btn btn-default btn-xs";
        var cancelx = document.createElement("span");
        cancelx.className = "glyphicon glyphicon-remove"
        cancel.onclick = function () {
            this.parentElement.hidden = true;
            this.parentElement.getElementsByTagName("input").value = null;
        };
        cancel.appendChild(cancelx);

        f.appendChild(field);
        f.appendChild(op);
        f.appendChild(operand);
        f.appendChild(cancel);

        fm.appendChild(f);

        row++;
    }

    function select_all() {
        var inputs = document.getElementById("query_form").getElementsByTagName("input");
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].type == "checkbox") {
                inputs[i].checked = true;
            }
        }
    }
    function toggle_all() {
        var inputs = document.getElementById("query_form").getElementsByTagName("input");
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].type == "checkbox") {
                inputs[i].checked = !inputs[i].checked;
            }
        }
    }
</script>


<form action="/ArMaintain/" id="query_form" method="post">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">查询</h3>
                </div>
                <div id="query_panel" class="panel-body">
                    <input type="hidden" name="Colu" value=@col />
                    <input type="hidden" name="Direction" value=@dir />
                    <input type="button" value="+" onclick="append_input()" class="btn btn-sm" />
                    <input type="submit" id="query" value="确定" class="btn btn-sm" />
                </div>
            </div>
        </div>
    </div>

    <br />

    <p>
        @Html.ActionLink("导出", "ExportExcel", "ArMaintain", null, new { @class = "btn btn-default" })
    </p>

    <div class="btn-group">
        <input type="button" id="select_button" value="全选" onclick="select_all()" class="btn btn-default" />
        <input type="button" id="select_button" value="反选" onclick="toggle_all()" class="btn btn-default" />
    </div>
    @Html.ActionLink("批量删除", "DeleteMultiple", "ArMaintain", null, new { @class = "btn btn-default" })

    @using MvcContrib.UI.Grid
    @using MvcContrib
    @Html.Grid(Model).Sort(ViewData["model"] as GridSortOptions).Columns(column =>
        {
            column.For(p => Html.CheckBox("Checked" + p.MaintainId)).Sortable(false);
            column.For(p => p.EquipmentID).Sortable(true);
            column.For(p => p.EquipDes).Sortable(true);
            column.For(p => p.Line).Sortable(true);
            column.For(p => p.MType).Sortable(true);
            column.For(p => p.MPart).Sortable(true);
            column.For(p => p.Content).Sortable(true);
            column.For(p => p.Period).Sortable(true);
            column.For(p => p.MStartTime).Sortable(true);
            column.For(p => p.MEndTime).Sortable(true);
            column.For(p => p.ResponseClass).Sortable(true);
            column.For(p => p.CheckStatus).Sortable(true);
            column.For(p => p.EquipDetail).Sortable(true);
            column.For(p => p.CheckerType).Sortable(true);
            column.For(p => p.Checker).Sortable(true);
            column.For(p => p.CheckTime).Sortable(true);
            column.For(p => p.Problem).Sortable(true);
            column.For(p => p.Mark).Sortable(true);
            column.For(p => p.Grade).Sortable(true);
            column.For(p => p.ProblemStatus).Sortable(true);
            column.For(p => p.CheckNum).Sortable(true);
            column.For(p => p.MaintainId).Sortable(true);
            column.For(p => p.ChangeTime).Sortable(true);
            column.For(p => p.Changer).Sortable(true);
            column.For(p => p.CreateTime).Sortable(true);
            column.For(p => p.Creator).Sortable(true);
            column.For(p => p.Operator).Sortable(true);
            column.For(p => p.OperateTime).Sortable(true);
            column.For(p => Html.ActionLink("查看", "Details", new { id = p.MaintainId }));
            column.For(p => Html.ActionLink("删除", "Delete", new { id = p.MaintainId }));
        }).Empty("无数据").Attributes(@width => "100%", @style => "text-align:center;border-collapse:collapse", @class => "table table-striped table-hover")
</form>